*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #EEEEEE;
    font-family: sans-serif;
}


/*HEADER*/

header{
    display: flex;
    align-items: center;
    box-shadow: 0 6px 4px 0 rgba(0,0,0,.2);
    width: 100%;
    position: fixed;
    background-color: #EEEEEE;
}

header section{
    display: flex;
    align-items: center;
    width: 40%;
    margin-left: 5rem;
    padding: 1rem 0;
}

header section a h1{
    color: #0A0A0A;
}

nav{
    width: 60%;
}

nav a{
    height: 100%;
}

nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-weight: 600;
    font-size: 1.2rem;
}

nav li{
    color: #0A0A0A;
    cursor: pointer;
}

.contact,
nav li:hover{
    color: #DE0000;
}

.contact{
    border: 3.3px #DE0000 solid;
    padding: 0.8rem 1rem;
    font-weight: 600;
}

.hamburger{
    border: none;
    display: none;
}

@media (max-width: 1024px){

    .hamburger{
        display: block;
        cursor: pointer;
        transition-duration: 0.5s;
    }

    .rotateBurger{
        transform: rotate(90deg);
        transition-duration: 0.5s;
    }

    nav {
        display: none;
    }

    nav ul{
        gap: 0;
    }
    
    header section{

        width: 80%;
    }


    nav {
        width: 20%;
    }
}

@media (max-width: 590px){

    nav ul{
        gap: 0;
    }
    
    header section{
        margin-left: 0;
        width: 80%;
    }

    header section a h1{
        font-size: 1.1rem;
    }

    nav {
        width: 20%;
    }

    #contactDiv .contact,
    .readMore{
        font-size: 0.7rem;
    }
}


/*MAIN*/

main{
    padding-top: 15rem;
}


/*MAIN HOMEPAGE*/
.homePage{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

main .homeSec{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .homeSec article{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 2rem;
    justify-content: right;
    width: 70ch;
}

main section article h2{
    font-size: 3rem;
}

#mainText{
    font-size: 3rem;
    border: 4px #DE0000 solid;
    padding: 0.5rem 1.5rem;
    color: #DE0000;
}

main section article h4{
    font-size: 1.6rem;
}

main section article button{
    font-size: 1rem;
    cursor: pointer;
}

#contactDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.readMore{
    text-decoration: underline;
}

main section article div a{
    font-size: 0.8rem;
    color: black;
    font-weight: 600;
}

main section .urus{
    max-width: 600px;
}

@media (max-width: 1024px){

    main{
        padding-top: 10rem;
    }

    .homePage{
        flex-direction: column;
        gap: 3rem;
    }

    main .homeSec{
        width: 100%;
    }

    main .homeSec article{
        align-items: center;
        text-align: center;
        padding: 0 2rem;
    }

    #contactDiv {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
    }
}

@media (max-width: 590px){

    main{
        padding-top: 8rem;
    }

    main section .urus{
        max-width: 350px;
    }

    main section article h2{
        font-size: 2rem;
    }

    #mainText{
        font-size: 2rem;
    }

    main section article h4{
        font-size: 1.2rem;
    }
}


/*MAIN AD*/

.ad{
    background-color: #DE0000;
    margin-top: 12rem;
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ad section{
    display: flex;
    flex-direction: column;
    margin: 4rem 0;
    gap: 2rem;
    width: 100%;
    align-items: center;
}

.ad article{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 3.5rem;
}

.ad article div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    text-align: center;
    gap: 1.2rem;
}

.ad article div p{
    font-size: 1rem;
}

.ad h1{
    font-size: 2.5rem;
}

.ad hr{
    width: 5rem;
}

.ad p{
    font-size: 1.2rem;
    text-align: center;
}

.ad h4{
    font-size: 1.5rem;
}

@media (max-width: 1024px){

    .ad{
        text-align: center; 
    }

    .ad section{
        padding: 0 2rem;
    }

    .ad h1{
        font-size: 1.5rem;
    }

    .ad h4{
        font-size: 1.2rem;
    }
}

@media (max-width: 590px){

    .ad{
        margin-top: 5rem;
    }

    .ad article{
        gap: 3rem;
        align-items: center;
        flex-direction: column;
        margin-top: 2rem;
    }

    .ad article div{
        width: 100%;
    }
}



/*MAIN SERVICEPAGE*/

.servicePage{
    margin-top: 10rem;
}

.servicePage .titleArt,
.aboutUsPage .titleArt,
.contactUsPage .titleArt,
.galleryPage .titleArt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pageTitle{
    text-align: center;
    font-size: 5rem;
    border: 4px #DE0000 solid;
    padding: 1.5rem 15rem;
    color: #DE0000;
}

.contactUsPage .pageTitle{
    text-align: center;
    font-size: 5rem;
    border: 4px #DE0000 solid;
    padding: 1.5rem 5rem;
    color: #DE0000;
}

@media (max-width: 860px){

    
    .pageTitle{
        font-size: 3rem;
        padding: 1.5rem 10rem;
    }

    .contactUsPage .pageTitle{
        font-size: 3rem;
        padding: 1.5rem 3rem;
    }

}

@media (max-width: 590px){

    .pageTitle{
        font-size: 2rem;
        padding: 1.5rem 5rem;
    }

    .contactUsPage .pageTitle{
        font-size: 2rem;
        padding: 1.5rem 2rem;
    }
}

.secTire,
.secOil,
.secIdk{
    margin-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secTire article,
.secOil article,
.secIdk article{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secTire article:nth-child(2),
.secOil article:nth-child(1),
.secIdk article:nth-child(2){
    flex-direction: column;
    gap: 2rem;
}

.secTire img:nth-child(1),
.secOil img:nth-child(2),
.secIdk img:nth-child(1){
    width: 500px;
}


.secTire article:nth-child(2) h2,
.secOil article:nth-child(1) h2,
.secIdk article:nth-child(2) h2{
    font-size: 2rem;
    border: 4px #DE0000 solid;
    padding: 0.5rem 1rem;
    color: #DE0000;
    margin-top: -2rem;
}

.secTire article:nth-child(2) hr,
.secOil article:nth-child(1) hr,
.secIdk article:nth-child(2) hr{
    width: 4rem;
    border: 1px rgba(0, 0, 0, 0.3) solid;
}

.secTire article:nth-child(2) img,
.secIdk article:nth-child(2) img{
    max-width: 100px;
    margin-bottom: 1rem;
}

.secOil article:nth-child(1) img{
    max-width: 160px;
    margin-bottom: 1rem;
}

@media (max-width: 1024px){

    .secOil{
        flex-direction: column-reverse;
    }

    .secTire,
    .secIdk{
        flex-direction: column;
        gap: 2rem;
    }    

    .secTire article:nth-child(2) img,
    .secIdk article:nth-child(2) img{
        margin-bottom: 2rem;
    }

}

@media (max-width: 590px){

    .servicePage{
        margin-top: 5rem;
    }

    .secTire,
    .secOil,
    .secIdk{
        margin-top: 8rem;
    }

    .secTire article:nth-child(1) img,
    .secIdk article:nth-child(1) img{
        max-width: 300px;
    }

    .secOil article:nth-child(2) img{
        max-width: 300px;
    }
}

/*MAIN SEPERATION*/
.seperation{
    margin-top: 12rem;
    background-color: #DE0000;
    padding: 4rem 0;
}

@media (max-width: 590px){

    .seperation{
        margin-top: 8rem;
        padding: 2rem 0;
    }
}


/*MAIN ABOUT US PAGE*/

.aboutUsPage{
    margin-top: 10rem;
}

.aboutUsPage section{
    margin-top: 12rem;
}

@media (max-width: 590px){

    .aboutUsPage{
        margin-top: 5rem;
    }
}

/*MAIN CONTACT US PAGE*/

.contactUsPage{
    margin-top: 10rem;
}

.contactUsPage section{
    margin-top: 12rem;
}

.contactContent{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 2rem;
    gap: 2rem;
}

.contactContent section{ 
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contactContent section:nth-child(2){ 
    align-items: flex-start;
    margin-top: 15rem;
}

.contactContent section:nth-child(1) article form,
#fb{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
    gap: 1rem;
}

.contactContent h1{
    font-size: 2.5rem;
}

#alignThis{
    align-self: center;
}

#fname,
#lname,
#subject{
    width: 30rem;
    padding: 1rem 0.5rem;
    font-family: sans-serif;
    border-radius: 4px;
    border: solid 1px #222  ;
}

#send{
    align-self: flex-start;
    border: 4px #DE0000 solid;
    padding: 0.5rem 1rem;
    color: #DE0000;
    font-weight: 600;
}

#send:hover{
    color: #EEEEEE;
    background-color: #DE0000;
    cursor: pointer;
}

.contactContent section:nth-child(1) article:nth-child(2){ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
}

#fb{
    margin-top: 7rem;
}

#fb img{
    width: 45px;
}


#googleMap{
    margin-top: 3rem;
}

.contactInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
    margin-top: 3rem;
    width: 100%;
}

.contactInfo div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.contactInfo div a{
    font-size: 1rem;
    color: #DE0000;
    font-weight: 600;
}

iframe{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width:80%;
}


@media (max-width: 1024px){

    .contactContent{
        flex-direction: column;
    }    

    .contactContent section{
        width: 100%;
    }

    .contactContent section:nth-child(2){ 
        align-items: center;
        margin-top: 8rem;
    }

    .contactInfo{
        align-items: center;
    }

    .contactInfo div {
        align-items: center;
        width: 100%;
    }
}

@media (max-width: 590px){
    #fname,
    #lname,
    #subject{
        width: 18rem;   
    }

    .contactContent form{
        padding: 0 2rem;
    }

    .contactContent section{
        width: 100%;
    }

    .contactContent section:nth-child(2){
        align-items: center;
        margin-top: 10rem;
    }

    .contactContent h1{
        font-size: 1.8rem;
        text-align: center;
    }

    .contactUsPage{
        margin-top: 8rem;
    }

    .contactUsPage section{
        margin-top: 5rem;
    }

    .contactContent section:nth-child(1) article:nth-child(2){
        margin-top: 0;
    }
}



/*THIRD AD*/

.adHours{
    background-color: #DE0000;
    margin-top: 12rem;
    color: #EEEEEE;
    display: flex;
    align-items: center;
    justify-content: center;
}

.adHours section{
    display: flex;
    padding: 4rem 0;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.adHours article{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.adHours article div h3,
.adHours article div p{
    margin-top: 1rem;
}

.adHours h1{
    font-size: 2.5rem;
}


.adHours p{
    font-size: 1.2rem;
}

@media (max-width: 1024px){

    .adHours section{
        gap: 2rem;
        padding: 4rem 2rem;
    } 
}

@media (max-width: 700px){

    .adHours section{
        flex-direction: column;
    } 

    .adHours article{
        width: 100%;
    }

    .adHours{
        margin-top: 8rem;
    }
}


/*GALLERY PAGE*/

.galleryPage{
    margin-top: 10rem;
}

.galleryPage section{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    font-size: 2rem;
    gap: 4rem;
}

.galleryPage button{
    font-size: 2rem;
    font-weight: 600;
    background-color: #1B74E4;
    padding: 1em 1.5em;
    color: #EEEEEE;
    border: none;
    cursor: pointer;
}

@media (max-width: 1024px){

    .galleryPage h1{
        text-align: center;
    } 

}

@media (max-width: 590px){

    .galleryPage section{
        padding: 0 2rem;
        margin-top: 5rem;
    }

    .galleryPage h1{
        font-size: 1.8rem;
        text-align: center;
    } 

    .galleryPage{
        margin-top: 8rem;
    }

}



/*FOOTER*/

.artCollection{
    display: flex;
    gap: 5rem;
}

footer{
    margin-top: 15rem;
    background-color: #0A0A0A;
    color: #EEEEEE;
}

.mainFooter{
    padding: 3rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.footerLogo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}

.footerLinks,
.footerHours {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footerLinks ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.footerLinks li{
    padding-left: 2rem;
    color: #DE0000;
    font-weight: 600;
}

.footerHours .parentDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.footerHours h3,
.footerHours p{
    margin-bottom: 1.5rem;
    color: #DE0000;
    font-weight: 500;
}


.footerLogo div:nth-child(1){
    display: flex;
    align-items: center;
}

.footerLogo div:nth-child(2){
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.footerLogo div:nth-child(2) img{
    width: 45px;
}

.footerLogo a h1{
    color: #EEEEEE;
}

.rights{
    background-color: #151515;
    text-align: center;
    padding: 1rem 0;
    font-size: 0.8rem;
    font-weight: 500;
}

@media (max-width: 1024px){
    .mainFooter{
        gap: 3rem;
        flex-direction: column;
        align-items: center;
    }

    footer{
        margin-top: 8rem;
    }
}

@media (max-width: 590px){

    .artCollection{
        flex-direction: column;
    }

}


aside{
    display: none;
}

@media (max-width: 1024px){

    aside{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        position: fixed;
        transition: var(--transition);
        transform: translate(-110%);
        width: 40%;
        height: 70%;
        --transition: all 0.2s linear;
        background-color: #EEEEEE;
        outline: 3px solid #DE0000;
    }

    aside ul{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        font-weight: 600;
        font-size: 1.2rem;
    }

    aside li{
        color: #0A0A0A;
        cursor: pointer;
    }

    aside .contact{
        padding: 0.4rem 0.3rem;
    }

    .displayMenu {
        transform: translate(0);
    }

}








.active li{
    color: #DE0000;
    transition: 0.3s ease color;
    font-size: 1.25rem;
    border-bottom: #DE0000 4px solid;   
  }


